.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: var(--app-layout-padding);

  :global(.mantine-RichTextEditor-root) {
    border: none;
    margin-top: 100px;
  }

  :global(.tiptap) {
    padding: 0px;
  }
}

.adfitBox {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;

  justify-content: center;

  > div {
    overflow: hidden;
    display: flex;
  }

  iframe,
  ins {
    text-align: center;
    min-width: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}

.commentBox {
  margin-top: 100px;
  margin-bottom: 100px;
}
