@use "sass:math";
@use "sass:map";
@use "sass:meta";
@use "var";

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme="light"] {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme="dark"] {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin min-width($breakpoint) {
  $value: map.get(var.$breakpoints, $breakpoint);
  $query-value: if($value, $value, $breakpoint);

  @media screen and (min-width: #{$query-value}) {
    @content;
  }
}

@mixin max-width($breakpoint) {
  $value: map.get(var.$breakpoints, $breakpoint);
  $query-value: if($value, $value, $breakpoint);

  @media screen and (max-width: #{$query-value}) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir="rtl"] & {
    @content;
  }
}

@mixin ltr {
  [dir="ltr"] & {
    @content;
  }
}

@mixin line-clamp($line-count) {
  @if $line-count == "none" {
    overflow: visible;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: none;
  } @else if meta.type-of($line-count) == "number" and $line-count > 0 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-count;
  } @else {
    @error "Invalid argument: line-count must be a number or 'none'.";
  }
}
