$env-top: env(safe-area-inset-top);
$env-bottom: env(safe-area-inset-bottom);
$env-left: env(safe-area-inset-left);
$env-right: env(safe-area-inset-right);

$header-height: 3.5rem;
$footer-height: 4rem;

$safe-header-height: calc($header-height + $env-top);
$safe-footer-height: calc($footer-height + $env-bottom);

// #{} interpolation과 함께 사용
$theme-light-selector: ":where([data-mantine-color-scheme='light'])";
$theme-dark-selector: ":where([data-mantine-color-scheme='dark'])";

$breakpoints: (
  xs: 30rem,
  sm: 48rem,
  md: 64rem,
  lg: 74rem,
  xl: 90rem,
  2xl: 120rem,
);

$mobile-boundary: sm; // breakpoint for mobile devices

$z-indexes: (
  app: 100,
  // mantine default
  float: 150,
  header: 180,
  modal: 200,
  // mantine default
  popover: 300,
  // mantine default
  overlay: 400,
  // mantine default
  max: 9999,
);

$bezier-curve: cubic-bezier(0.23, 1, 0.32, 1);
$box-shadow: 0px 1px 2px 0 rgba(56, 52, 52, 0.4);
$backdrop-color: #ffffff34;

$easing: (
  default: cubic-bezier(0.23, 1, 0.32, 1),
  expo-in-out: cubic-bezier(0.87, 0, 0.13, 1),
);

$mantine-breakpoint-xs: var(--mantine-breakpoint-xs);
$mantine-breakpoint-sm: var(--mantine-breakpoint-sm);
$mantine-breakpoint-md: var(--mantine-breakpoint-md);
$mantine-breakpoint-lg: var(--mantine-breakpoint-lg);
$mantine-breakpoint-xl: var(--mantine-breakpoint-xl);

$mantine-color-red: var(--mantine-color-red-0);
