$mantine-breakpoint-xs: var(--mantine-breakpoint-xs);
$mantine-breakpoint-sm: var(--mantine-breakpoint-sm);
$mantine-breakpoint-md: var(--mantine-breakpoint-md);
$mantine-breakpoint-lg: var(--mantine-breakpoint-lg);
$mantine-breakpoint-xl: var(--mantine-breakpoint-xl);

$mantine-color-red: var(--mantine-color-red-0);
