.wrap {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column-reverse;
  min-width: 0px;
  gap: 1rem;
}

@include util.min-width(sm) {
  .wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 0rem;
  }
}

.left {
  max-width: 35rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.desc {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

.tagBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
}

.buttonBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.recentButtonIcon {
  margin-left: 0.5rem;
}

.right {
}

.imageBox {
  width: 18rem;
  height: 18rem;
  margin: 0 auto;
  border: 4px solid #ccc;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
}
