.wrap {
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;

  & + & {
    border-top: 1px solid red;
  }
}

.thumbnailBox {
}

.cell {
}

.paginationBox {
  display: flex;
  justify-content: center;
  border: 1px solid #eaeaea;
  padding: 1rem;
}
