@use "sass:map";

$sidebar-background-light: #eeeeee;
$sidebar-background-dark: #606060;

.wrap {
  position: relative;
  width: 0;
  flex-shrink: 0;
}

@include util.min-width(sm) {
  .wrap {
    width: var.$sidebar-width;
    flex-shrink: 0;
  }
}

.position {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1001;
  background-color: $sidebar-background-light;
  border-right: 1px solid var(--mantine-color-default-border);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

@include util.dark {
  .position {
    background-color: $sidebar-background-dark;
  }
}

@include util.min-width(sm) {
  .position {
    transform: translateX(0);
    transition: none;
    width: var.$sidebar-width;
    border-right: none;
  }
}

.wrap[data-mobile-open="true"] .position {
  display: block;
  transform: translateX(0);
}

.header {
  height: var.$safe-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--app-layout-padding);
}

.overviewBox {
  padding: 0 var(--app-layout-padding);
}

.actionIconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: var(--app-layout-padding);
  margin-top: 20px;
}

.categoryBox {
  --nl-offset: 10px; // nav-link offset
  padding: 0 var(--app-layout-padding);
  margin-top: 20px;

  h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
  }

  :global(.mantine-NavLink-root) {
    transition: color 0.2s ease;

    &:hover {
      background-color: unset;
      color: var(--mantine-color-primary-5);
    }
  }
}

.nav {
  padding: 0 var(--app-layout-padding);
  margin-top: 20px;

  h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
  }

  ul {
    font-size: 0.9rem;
  }

  li {
    transition: color 0.2s ease;
    padding: 8px var(--mantine-spacing-sm);

    &:hover {
      color: var(--mantine-color-primary-5);
    }
  }
}
