.list {
}

.item {
  padding: 1rem 1rem 2rem 1rem;
  background: linear-gradient(180deg, var(--sheet-background-color), rgba(0, 0, 0, 0.025));
  border-bottom: 1px solid #ccc;
  position: relative;
  transition: background 0.1s ease;
  cursor: pointer;

  &:hover {
    background: linear-gradient(180deg, var(--sheet-background-color), rgba(0, 0, 0, 0.025));
  }

  h4 {
    font-size: 1.15rem;
    font-weight: 500;
  }

  & + & {
    margin-top: 1rem;
  }

  &::after {
    content: "더보기";
    color: #666;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 0.85rem;
    letter-spacing: 0;
  }
}
