.page {
  max-width: 1280px;
  margin: 0 auto;
}

.navBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listBox {
  position: relative;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 0;
}
