.cardSlider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
  gap: 10px;

  &::-webkit-scrollbar {
    height: 5px;
  }

  /* 파이어폭스 스크롤바 스타일 (선택 사항) */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.cardSlider > article {
  scroll-snap-align: center;
  flex: 0 0 50%;
}

@include util.min-width(md) {
  .cardSlider > article {
    flex: 0 0 25%;
  }
}
